@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h1 class="display-4">Candidate Page</h1>
                <h3 class="display-5">Hello Mark!</h3>

                <div class="d-flex justify-content-start mb-3">
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mymodal">Add new request</a>
                </div> 

                <!--Model-->
                <div class="modal" id="mymodal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add a new request</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>


                                <form method="post" action="@Url.Action("addRequest","Home")">
                            <div class="modal-body">
                                    <!-- User Name. faltu -->
                                    <div class="form-group">
                                        <label for="userName" class="form-label">Name</label>
                                        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter user name">
                                    </div>
                                    <!-- Identity, dk what it is -->
                                    <div class="form-group">
                                        <label for="userName" class="form-label">Identity</label>
                                        <input type="text" name="Identity" class="form-control" aria-describedby="emailHelp" placeholder="Enter identity">
                                    </div>
                                    <!-- Job Name -->
                                    <div class="form-group">
                                        <label for="userName" class="form-label">Job Name</label>
                                        <input type="text" name="Position" class="form-control" aria-describedby="emailHelp" placeholder="Enter job name">
                                    </div>
                                    <!-- DOB, faltu-->
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form1Example13">Date of Birth</label>
                                        <input type="date" class="form-control form-control-lg" />
                                    </div>
                                    <!-- Profile Picuture -->
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form1Example13">Profile Picture</label>
                                        <input type="file" name="UserImage" id="ImageData" onchange="fileCheck(this);" />
                                    </div>

                                    <!-- Username taken from user model, this seems unnecessary -->
                                    <input type="hidden" name="User" value="Hamza" />
                                    <!-- DOB taken from user model, this seems unnecessary-->
                                    <input type="hidden" name="DateOfBirth" value="20001115" />
                                    <!-- User Id -->
                                    <input type="hidden" name="UserId" value="3" />
                                    <!-- Status as pending by default -->
                                    <input type="hidden" name="Status" value="Pending" />
                                    <!-- Date Applied -->
                                    <input type="hidden" name="Role" value="@DateTime.Now" />
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Add</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                                </form>


      
                        </div>
                    </div>
                </div>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Sr#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Date Applied</th>
                            <th scope="col">Position</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>21 November 2022</td>
                            <td>Developer</td>
                            <td>
                                <button class="btn btn-warning">Update</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Mark</td>
                            <td>1 December 2022</td>
                            <td>Engineer</td>
                            <td>
                                <button class="btn btn-warning">Update</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Mark</td>
                            <td>21 January 2022</td>
                            <td>SQA Engineer</td>
                            <td>
                                <button class="btn btn-warning">Update</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })
</script>