@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form method="post" action="@Url.Action("addUser","Login")" id="form">
                    <!-- Logo -->
                    <div class="d-flex align-items-center mb-3 pb-1">
                        <img src="~/img/logo.jpeg" style="width: 25%" />
                    </div>

                    <h5 class="fw-bold fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Signup your account</h5>

                    <!-- Username input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="username">User Name</label>
                        <input type="text" id="username" name="Name" class="form-control form-control-lg" required />
                    </div>

                    <!-- Date of Birth input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="dob">Date of Birth</label>
                        <input type="date" id="dob" name="DateOfBirth" class="form-control form-control-lg" required />
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" id="password" name="Password" class="form-control form-control-lg" required />
                    </div>

                    <!-- Confirm Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="confirmPassword">Confirm Password</label>
                        <input type="password" id="confirmPassword" class="form-control form-control-lg" required />
                    </div>

                    <!-- Error message container for password mismatch -->
                    <div id="passwordError" class="text-danger mb-3"></div>

                    <!-- Role -->
                    <input type="hidden" name="Role" value="User" />

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block fw-bold">Signup</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById('form').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent form submission

        var password = document.getElementById('password').value;
        var confirmPassword = document.getElementById('confirmPassword').value;

        var errorContainer = document.getElementById('passwordError');
        if (password !== confirmPassword) {
            errorContainer.textContent = "Passwords do not match.";
        } else {
            errorContainer.textContent = ""; // Clear error message if passwords match
            // If passwords match, you can submit the form here:
            this.submit();
        }
    });
</script>